/*Reseteo*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/*Menu-Footer*/
.menu {
  grid-area: "menu";
  width: 100%;
  height: 10vh;
  background-color: black; }

.footer {
  grid-area: "footer";
  width: 100%;
  height: 10vh;
  background-color: black; }

/*General*/
.border {
  border-width: 1px;
  border-style: solid;
  border-color: black; }

h2 {
  color: white; }

h1 {
  color: white; }

/*Index*/
.IndexGrid {
  display: grid;
  width: 100%;
  grid-template-areas: "menu menu" "carrusel carrusel" "direccion mapa" "footer footer"; }

.carrusel {
  grid-area: "carrusel"; }

.direccion {
  grid-area: "direccion"; }

.mapa {
  grid-area: "mapa"; }

/*Actividades*/
/*Contactos*/
/*Nosotros*/
