/*Reseteo*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/*Menu-Footer*/
.menu {
  grid-area: menu;
  width: 100%;
  height: 8vh;
  background-color: black; }

.menuFlex {
  display: flex;
  flex-direction: row;
  justify-content: start; }
  .menuFlex .img_menu {
    width: 100px;
    height: 50px; }
  .menuFlex .item_menu {
    width: 100px;
    text-align: center;
    margin-right: auto; }
    .menuFlex .item_menu .texto_menu {
      text-decoration: none;
      color: white; }

.footer {
  grid-area: footer;
  width: 100%;
  height: 8vh;
  background-color: black; }

.footerFlex {
  display: flex;
  justify-content: space-between; }
  .footerFlex .footer_img {
    margin-left: 5px;
    margin-right: 5px;
    width: 50px;
    height: 50px; }

/*General*/
.border {
  border-width: 1px;
  border-style: solid;
  border-color: black; }

h3 {
  color: black;
  text-align: center; }

h2 {
  color: white;
  text-align: center; }

h1 {
  color: white; }

/*Index*/
.IndexGrid {
  display: grid;
  width: 100%;
  grid-template-areas: "menu menu" "carrusel carrusel" "direccion mapa" "footer footer";
  grid-template-columns: 1fr 1fr;
  grid-row: 1fr 1fr 1fr 1fr; }

.carrusel {
  width: 100%;
  height: 80vh;
  grid-area: carrusel;
  display: flex; }
  .carrusel .img_carrusel {
    width: 100%;
    height: 80vh; }
  .carrusel .img_precio {
    width: 150px;
    height: 150px; }

.direccion {
  width: 100%;
  height: 400px;
  grid-area: direccion; }

.mapa {
  width: 100%;
  height: 400px;
  grid-area: mapa; }
  .mapa .tamanio_mapa {
    margin-left: 90px;
    margin-top: 50px;
    width: 500px;
    height: 300px; }

/*Actividades*/
/*Actividades*/
.gridActividades {
  display: grid;
  grid-template-areas: ""; }

/*Contactos*/
/*Nosotros*/
