/*Reseteo*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/*Menu-Footer*/
.menu {
  grid-area: menu;
  width: 100%;
  height: 12vh;
  background-color: black; }

.menuFlex {
  display: flex;
  flex-direction: row;
  justify-content: start; }
  .menuFlex .img_menu {
    width: 130px;
    height: 80px; }
  .menuFlex .item_menu {
    width: 100px;
    text-align: center;
    margin-right: auto; }
    .menuFlex .item_menu .texto_menu {
      text-decoration: none;
      color: white; }

.footer {
  grid-area: footer;
  width: 100%;
  height: 12vh; }

/*General*/
.border {
  border-width: 1px;
  border-style: solid;
  border-color: black; }

h2 {
  color: white; }

h1 {
  color: white; }

/*Index*/
.IndexGrid {
  display: grid;
  width: 100%;
  grid-template-areas: "menu menu" "carrusel carrusel" "direccion mapa" "footer footer"; }

.carrusel {
  width: 100%;
  height: 80vh;
  grid-area: carrusel; }
  .carrusel .img_carrusel {
    width: 100%;
    height: 80vh; }
  .carrusel .img_precio {
    width: 150px;
    height: 150px; }

.direccion {
  width: 100%;
  height: 400px;
  grid-area: direccion; }

.mapa {
  width: 100%;
  height: 400px;
  grid-area: mapa; }

/*Actividades*/
/*Contactos*/
/*Nosotros*/
