/*Index*/
.IndexGrid{
    display: grid;
    width: 100%;
    grid-template-areas: 
    "menu menu"
    "carrusel carrusel"
    "direccion mapa"
    "footer footer";
}
.carrusel{
    width: 100%;
    height: 80vh;
    grid-area: carrusel;
    .img_carrusel{
        width: 100%;
        height: 80vh;
    }
    .img_precio{
        width: 150px;
        height: 150px;
    }
}
.direccion{
    width: 100%;
    height: 400px;
    grid-area: direccion;
}
.mapa{
    width: 100%;
    height: 400px;
    grid-area: mapa;
}