/*Reseteo*/
*{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

//variables
$negro:black;
$rojo:red;
$blanco:white;
$dorado:gold;

/*Menu-Footer*/
.menu{
    grid-area: menu;
    width: 100%;
    height: 12vh;
    background-color: $negro;
}

.menuFlex{
    display: flex;
    flex-direction: row;
    justify-content: start;
    .img_menu{
        width: 130px;
        height: 80px;
    }
    .item_menu{
        width: 100px;
        text-align: center;
        margin-right: auto;
        .texto_menu{
            text-decoration: none;
            color: $blanco;
        }
    }
}

.footer{
    grid-area: footer;
    width: 100%;
    height: 12vh;
}
/*General*/
.border{
    border-width: 1px;
    border-style: solid;
    border-color: $negro;
}

h2{
    color: $blanco;
}

h1{
    color: $blanco;
}
@import "index.scss";
/*Actividades*/
/*Contactos*/
/*Nosotros*/